.jp-ThemeSwitch {
  display: flex;
  align-items: center;
  text-align: center;
}

.jp-ThemeSwitch.bp3-switch {
  /* TODO: orange background? */
  margin-bottom: 0;
}

.jp-ThemeSwitch.bp3-control .bp3-control-indicator {
  margin-right: 0px;
}
